<html>
<head>
<!-- Stylesheets -->
<link rel="stylesheet" href="/static/css/bootstrap.css" />
<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css" />
<script src="https://code.jquery.com/jquery-3.0.0.js"
	integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo="
	crossorigin="anonymous"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="/static/js/stockdata/app.js"></script>
<script src="/static/js/stockdata/service/quickAnalysis.js"></script>
<script src="/static/js/stockdata/controller/quickAnalysis.js"></script>
<title>Pynance</title>
</head>
<body ng-app="stockdata">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="#">StockData</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Quick Analysis </a></li>

				</ul>

			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<div class="container-fluid" ng-controller="quickAnalysisController">
		<div>
		  <span><strong>Percent away from entry</strong></span><input type="number" ng-model="percentage" ng-change="getCandidates()"/>
		  <span><strong>Percent profit at exit price</strong></span><input type="number" ng-model="profit" ng-change="getCandidates()" />
		</div>
		<table id="scalp_candidates" class="table table-striped">
			<thead class="thead-default">
				<th>Symbol</th>
				<th>Date</th>
				<th>Target Entry Price</th>
				<th>Target Exit Price</th>
			</thead>
			<tr ng-repeat="candidate in candidates">
				<td ng-bind="candidate.symbol"></td>
				<td ng-bind="candidate.date"></td>
				<td ng-bind="candidate.target_entry_price"></td>
				<td ng-bind="candidate.target_exit_price"></td>
			</tr>
		</table>
	</div>
</body>

</html>